h2{
  margin-top: 20px;
}

.card {
  margin-bottom: 3px;
}

.badge {
  background-color: #fff;
  margin-right: 10px;
}

[data-pass="false"] {
  color: #a94442;
  background-color: #f2dede;
  background-image: url('../images/sad.png');
  /*background-image: url('../images/sad.gif');*/
  background-size: cover;
}

[data-pass="false"] a {
  color: #a94442;
}

[data-pass="unknown"] {
  color: #8a6d3b;
  background-image: url('../images/indifferent.png');
  /*background-image: url('../images/indifferent.gif');*/
  background-size: cover;
  background-color: #fcf8e3;  
}

[data-pass="unknown"] a {
  color: #8a6d3b;
}

[data-pass="true"] {
  color: #3c763d;
  background-image: url('../images/happy.png');
  /*background-image: url('../images/happy.gif');*/
  background-size: cover;
  background-color: #dff0d8;
}

[data-pass="true"] a {
  color: #3c763d;
}

.progress {
  margin: 5px;
	width: 100%;
	float: right;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.page-title{
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: rgba(0,0,0,0.6);
  font-weight: 900;
  background: rgb(65, 104, 173); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgb(65, 104, 173),rgb(108, 182, 49)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgb(65, 104, 173),rgb(108, 182, 49)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgb(65, 104, 173),rgb(108, 182, 49)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgb(65, 104, 173), rgb(108, 182, 49)); /*Standard*/ 
}
.center{
  display: block;
  text-align: center;
}

.rounded-circle {
  border-radius: 50%!important;
  margin: auto;
  width: 60px;
  height: 60px;
}
.hand{
  cursor: pointer;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/Aloha-Mundo.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.container{
  background-color: rgba(255,255,255,0.7);
}
