.card {
  margin-bottom: 3px;
}

.badge {
  background-color: #fff;
  margin-right: 5px;
}

[data-pass="false"] {
  color: #a94442;
  background-color: #f2dede;
}

[data-pass="false"] a {
  color: #a94442;
}

[data-pass="unknow"] {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

[data-pass="unknow"] a {
  color: #8a6d3b;
}

[data-pass="true"] {
  color: #3c763d;
  background-color: #dff0d8;
}

[data-pass="true"] a {
  color: #3c763d;
}

