.card {
  margin-bottom: 3px;
}

.badge {
  background-color: #fff;
  margin-right: 5px;
}

[data-pass="false"] {
  color: #a94442;
  background-color: #f2dede;
}

[data-pass="false"] a {
  color: #a94442;
}

[data-pass="unknown"] {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

[data-pass="unknown"] a {
  color: #8a6d3b;
}

[data-pass="true"] {
  color: #3c763d;
  background-color: #dff0d8;
}

[data-pass="true"] a {
  color: #3c763d;
}

.progress {
	width: 400px;
	float: right;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar-danger {
    background-color: #d9534f;
}
